.wrapper {
}

.inner {
    height: 500px;
    opacity: 0.85;
    background-image: url("http://makers-kdi.ru/last_block.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
